@keyframes button_animation {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(1deg);
  }
}
h1,
h2 {
  background-color: var(--bg-light-0);
  padding: 1em 0 0.8em 0;
  transform: translate(0, -50%);
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
}

.menu-selection {
  width: 100%;
  min-height: 100vh;
  background-color: #FBEDDC;
  transition: 0.5s;
}
.menu-selection.active {
  left: 0;
}
.menu-selection h2.subitem {
  width: 50%;
  border-radius: 1em;
  font-size: 1em;
  background-color: var(--bg-ternary-light-20);
}
.menu-selection .subitem b {
  font-weight: normal;
  display: block;
}
.menu-selection h1.max-2::after {
  content: " - Escolha 2";
  font-weight: normal;
  font-size: 0.7em;
}
.menu-selection hr {
  color: #858585;
  margin: 1em;
  height: 1px;
  background-color: #858585;
  width: 50%;
}
.menu-selection .ultra-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menu-selection.two-columns h1 {
  width: 100%;
  height: 1em;
}
.menu-selection.two-columns .column-box {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.menu-selection.two-columns .column-box h2 {
  width: 100%;
  height: 1em;
  padding: 1em 0 1em 0;
}
.menu-selection.two-columns .box-options .button-option,
.menu-selection.two-columns .box-final-code .button-option {
  width: 100%;
}

.box-options,
.box-final-code {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.menu-question {
  background-color: #FBEDDC;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.menu-question h1 {
  background-color: var(--bg-secundary-light-0);
  width: 100%;
}
.menu-question .box-options,
.menu-question .box-final-code {
  height: 80vh;
  justify-content: center;
}
.menu-question .button-option:first-child {
  margin-top: 0;
}

.button-option {
  width: 40%;
  padding: 1em;
  margin-top: 1.5em;
  font-size: 1em;
  font-weight: 500;
  text-shadow: 0em 0em 0.1em rgba(0, 0, 0, 0.514);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 2em;
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.25s;
}
.menu-selection .button-option {
  background-color: var(--bg-light-80);
  box-shadow: 0.1em 0.2em var(--bg-light-20);
}
.menu-selection .button-option:hover {
  box-shadow: 0em 0em var(--bg-light-20);
  background-color: var(--bg-light-70);
  transform: translate(0, 0.1em) !important;
}
.menu-selection .button-option:active {
  background-color: var(--bg-light-60);
  transform: translate(0, 0.2em) !important;
}
.menu-selection .button-option.active {
  background-color: var(--bg-light-60);
}
.menu-question .button-option {
  background-color: var(--bg-secundary-light-20);
  box-shadow: 0.1em 0.2em var(--bg-secundary-light-10);
  color: white;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.822);
  cursor: pointer;
}
.menu-question .button-option:hover {
  background-color: var(--bg-secundary-light-10);
  box-shadow: 0em 0em var(--bg-secundary-light-0);
  transform: translate(0, 0.1em) !important;
}
.menu-question .button-option:active, .menu-question .button-option.active {
  background-color: var(--bg-secundary-light-0);
  transform: translate(0, 0.2em) !important;
}
.button-option.text-wrap {
  display: block !important;
  align-items: none;
  justify-content: none;
}
.button-option ul {
  list-style-type: none;
}
.button-option img {
  width: 2rem;
  margin-left: 1em;
}
.button-next {
  width: 90%;
  margin: auto;
  padding: 1em;
  margin-top: 1.5em;
  font-size: 1.2em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 2em;
  box-sizing: border-box;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  background-color: var(--bg-secundary-light-20);
  box-shadow: 0.1em 0.2em var(--bg-secundary-light-30);
  font-weight: bold;
  transition: 0.25s;
}
.button-next:active {
  background-color: var(--bg-secundary-light-20);
  transform: translate(0, 0.2em) !important;
}
.button-next.active {
  background-color: var(--bg-secundary-light-0);
}
.button-next.active:hover {
  box-shadow: 0em 0em var(--bg-secundary-light-70);
  background-color: var(--bg-secundary-light-10);
  transform: translate(0, 0.1em) !important;
}

.box-final-code {
  justify-content: center;
}

#text-final {
  margin: 1.5em;
  width: 80%;
}

@media (max-width: 768px) {
  .button-option {
    width: 80%;
  }
}
@media (min-width: 769.1px) and (max-width: 1199.98px) {
  .button-option {
    width: 60%;
  }
}/*# sourceMappingURL=selections.css.map */