@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Kalam:wght@300;400;700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: Kalam;
    // font-family: Handlee;
}

:root {
    --bg-light-0: #e63484;
    --bg-light-10: #e84890;
    --bg-light-20: #eb5c9c;
    --bg-light-30: #ed70a8;
    --bg-light-40: #f085b5;
    --bg-light-50: #f299c1;
    --bg-light-60: #f5adcd;
    --bg-light-70: #f7c2da;
    --bg-light-80: #fad6e6;
    --bg-light-90: #fceaf2;
    --bg-dark-0: #e63484;
    --bg-dark-10: #cf2e76;
    --bg-dark-20: #b82969;
    --bg-dark-30: #a1245c;
    --bg-dark-40: #8a1f4f;
    --bg-dark-50: #731a42;
    --bg-dark-60: #5c1434;
    --bg-dark-70: #450f27;
    --bg-dark-80: #2d0a1a;
    --bg-dark-90: #16050d;
    --bg-secundary-light-0: #e69634;
    --bg-secundary-light-10: #ecad61;
    --bg-secundary-light-20: #f1c58f;
    --bg-secundary-light-30: #f7dcbc;
    --bg-secundary-light-40: #fcf4ea;
    --bg-secundary-light-50: #fff;
    --bg-secundary-light-60: #fff;
    --bg-secundary-light-70: #fff;
    --bg-secundary-light-80: #fff;
    --bg-secundary-light-90: #fff;
    --bg-secundary-dark-0: #e69634;
    --bg-secundary-dark-10: #ce7d19;
    --bg-secundary-dark-20: #a06114;
    --bg-secundary-dark-30: #73460e;
    --bg-secundary-dark-40: #452a09;
    --bg-secundary-dark-50: #180f03;
    --bg-secundary-dark-60: #000;
    --bg-secundary-dark-70: #000;
    --bg-secundary-dark-80: #000;
    --bg-secundary-dark-90: #000;
    // --bg-ternary-light-0: #b97cd1;
    --bg-ternary-light-0: #b700ff;
    --bg-ternary-light-10: #c533ff;
    --bg-ternary-light-20: #d466ff;
    --bg-ternary-light-30: #e299ff;
    --bg-ternary-light-40: #f1ccff;
    --bg-ternary-light-50: #f4d4ff;
    --bg-ternary-light-60: #f6dbff;
    --bg-ternary-light-70: #fae9ff;
    --bg-ternary-light-80: #fbefff;
    --bg-ternary-light-90: #fff;
    --bg-ternary-dark-0: #b700ff;
    --bg-ternary-dark-10: #9200cc;
    --bg-ternary-dark-20: #6e0099;
    --bg-ternary-dark-30: #490066;
    --bg-ternary-dark-40: #250033;
    --bg-ternary-dark-50: #000;
    --bg-ternary-dark-60: #000;
    --bg-ternary-dark-70: #000;
    --bg-ternary-dark-80: #000;
    --bg-ternary-dark-90: #000;
}

$header-height: 10vh;

html {
    font-size: 2.1vmax;
    overflow-x: hidden;
}

header {
    background-color: var(--bg-light-0);
    display: flex;
    align-items: center;
    justify-content: center;

    h1,
    a.to-home {
        font-family: 'Pacifico';
        font-weight: normal;
    }

    img {
        margin-right: 2em;
        height: $header-height;
    }
}



body {
    display: block;
    position: relative;
    background-color: black;
}

main {
    position: relative;
    width: 100vw;
    min-height: 90vh;
    background-color: var(--bg-secundary-light-40);
}

.box-buttons-main {
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 65vh;

    .button-main {
        background-color: black;
        position: relative;
        width: 50%;
        padding: 65px 70px 50px 65px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.527);
        transition: box-shadow .25s;

        &:hover {
            .image {
                filter: brightness(0.70);
            }

            box-shadow: 0 0 0 rgba(0, 0, 0, 0.527);
        }

        &#galery-cakes .image {
            background-size: cover;
            background-position: 10% 30%;
        }

        &#mount-cake .image {
            background-size: cover;
            background-position: 0 50%;
        }

        a,
        .image {
            position: absolute;
            transition: filter .25s;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

        a {
            display: flex;
            font-size: 1.5em;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            background-color: #0000008c;
            transition: text-shadow .25s;

            &:hover {
                text-shadow: 0em 0em 1.4em white;
            }
        }

        &#galery-cakes a {
            background-color: #000000a8;
        }


    }
}

h1 img {
    width: 10%;
    position: absolute;
    left: 0;
    transform: translate(0, -25%);
    background-color: var(--bg-light-20);
    box-shadow: 0em 0em 0.4em rgba(255, 255, 255, 0.733);
    border-radius: 50%;
    transition: .25s;
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1 img:hover {
    background-color: var(--bg-light-0);
    // box-shadow: 0em 0em 0.4em rgba(255, 255, 255, 0);
}

.text-white {
    color: white;
    text-shadow: 0.1em 0.1em 0.1em #00000080;
}

.text-black {
    color: black;
    text-shadow: 0.1em 0.1em 0.1em #00000080;
}

.attention {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1em;
    // padding: 1em;
    font-family: 'Kalam' !important;
    box-sizing: border-box;
    border: 1em solid transparent;
    transition: filter .25s;

    &.iterable:hover {
        filter: saturate(2.5);
    }

    & h3,
    & p {
        background-color: var(--bg-light-80);
        text-align: center;
    }

    & a {
        color: #000;
        background-color: var(--bg-light-80);
        display: inline-block;
        width: 100%;
    }
}

.button {
    transition: filter .25s;

    &:hover {
        filter: saturate(2);
    }
}

footer {
    position: relative;
    background-color: black;
    margin-top: 15vh;
    padding: 5vh;
    padding-bottom: 20vh;
    margin-bottom: 0;

    h1 {
        background-color: black;
        font-size: small;
    }
}