table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: var(--bg-ternary-light-80);
    border-radius: 1em;
    margin-top: 1em;
    box-shadow: 0.0em 0.0em 0.2em;
}

th {
    border-radius: 0.5em 0.5em 0 0;
}

thead {
    font-size: 1.8em;
    font-weight: bold;
}

thead th {
    background-color: var(--bg-ternary-light-40);
}


tbody tr {
    border-top: 1px solid black;
}

tbody tr:first-child {
    display: none;
}

tbody th {
    border-right: 1px solid black;
}

td,
th {
    padding: 0.2em;
    font-family: cursive;
}